//
//  Secrets.xcconfig
//  EV Charging Station Finder
//
//  Created by Jesus Daniel Medina Cruz on 18/07/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

OPEN_CHARGE_MAP_KEY = 8641a47d-145a-46c8-8c34-1e155e04e759
