//
//  Secrets.xcconfig
//  EV Charging Station Finder
//
//  Created by Jesus Daniel Medina Cruz on 18/07/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

OPEN_CHARGE_MAP_KEY = XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
